.blog-container {
    .content {
        align-items: flex-start !important;
        padding: 50px 0;
    }

    .card {
        border: none;
        background-color: transparent;

        &:hover {
            transition: all 0.3s;
            opacity: 0.7;
        }

        img {
            position: relative;
            height: 230px;
            object-fit: cover;
            border-radius: 40px;
        }
    }


    .card-body {
        text-align: left;
        
        h5 {
            font-weight: var(--font-weight-bold);
            margin: 8px 0;
            font-size: $text-font-header-4;
        }
    
        p {
            color: $text-color-9;
        }
    
        .card-text {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .card-date {
            
        }
    }



    .btn {
        border-color: $primary-color-5;
        background-color: transparent;
        color: $primary-color-5;
        border-radius: 40px;
        padding: 12px 24px;

        &:hover {
            background-color: $primary-color-5;
            border: none;
            color: #fff;
        }
    }

}


// 分頁欄
.pagenation {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    
    button {
        border: 1px solid #eeeeee;
        border-radius: 8px;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        margin-left: 12px;
    }

    .currentPage {
        button:disabled {
            background-color: #4daab0; /* 灰色背景 */
            color: #ffffff; /* 灰色文字 */
            cursor: not-allowed; /* 改變滑鼠游標 */
        }
    }

    .material-icons {
        line-height: 1.5;
    }
    
    span {
        font-size: 24px;
        color: #616161;
    }
}
