// 全局樣式

:root {
  /* 字體設定 */
  --font-primary: 'Noto Sans TC', sans-serif;
  
  /* 字重設定 */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* 字體大小 */
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-large: 18px;

  /* 色彩設定 */
  --color-primary: #4DAAB0;
  --color-secondary: #EC6800;
  --color-background: #ffffff;
  --color-text: #616161;

  /* 間距設定 */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-background);
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}


/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  height: 4px; /* 設定滾輪高度（水平滾動條） */
  transition: height 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent; /* 滾輪軌道顏色 */
  height: 1px;
}

::-webkit-scrollbar-thumb { 
  background: #ccc; /* 滾輪顏色 */
  border-radius: 8px;
  height: 4px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa; /* 滑鼠懸停時變色 */
}

.btn-custom-primary, .bg-custom-primary {
  color: #fff !important;
  background-color: #60B9BF !important;
}

.custom-primary {
  color: #60B9BF;
}



.page-container {
  background-color: var(--color-background);
  padding: 32px;
  border: 1px solid #EEEEEE;
  border-radius: 40px;
}

.test-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;

    h1 {
      font-size: 2rem;
      color: #333;
    }
  }
}

.custom-btn, .btn-primary {
  background: var(--color-primary);
  color: #fff;
  border-radius: 100px;
  padding: 12px 20px;
  border: 1px solid #60B9BF;
  &:hover {
    background: #60B9BF;
    color: #fff;
    border: 1px solid #60B9BF;
    transition: all .3s;
  }
}

.btn-secondary, .custom-cancel-button {
  border-radius: 100px;
  padding: 12px 20px;
  background-color: #6c757d;
  color: #fff;
  border: 1px solid #6c757d;
}

.outline-custom-btn {
  background: transparent;
  color: var(--color-primary);
  border-radius: 100px;
  padding: 12px 20px;
  border: 1px solid #60B9BF;
  &:hover {
    background: #60B9BF;
    color: #fff;
    border: 1px solid #60B9BF;
    transition: all .3s;
  }
}

:not(.custom-btn.btn-check)+.custom-btn.btn:active {
  background: #60B9BF;
  color: #fff;
  border: 1px solid #60B9BF;
  transition: all 0.3s;
}

.input-group-field {
  background-color: rgba(250, 250, 250, 1);
  border-radius: 8px;
  position: relative;
  input{
    &::placeholder {
        color: #9E9E9E;
      }
    &:focus {
      box-shadow: none;
      border-color: 1px solid #E0E0E0;
    }
  }
}

.form-group-field {
  .form-label {
    margin-bottom: 8px;
  }
  .form-control {
    padding: 0;
    border: none;
    background-color: transparent;
    padding: 12px;
    width: 100%;
    color: #616161;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 8px;
    position: relative;
    &::placeholder {
      color: #9E9E9E;
    }
    &:focus {
      box-shadow: none;
      border-color: 1px solid #E0E0E0;
    }
  }
}
  

.page-container{
  margin-top: 24px;
  min-height: auto;
  .form-control-dropdown {
    position: relative;
    .dropdown-selected {
      border: none;
      padding: 12px;
      width: 100%;
      color: #616161;
      background-color: rgba(250, 250, 250, 1);
      border-radius: 8px;
      cursor: pointer;
      &.selected {
        color: #616161;
        border-color: #E0E0E0;
      }
    }
    .dropdown-list {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: #fff;
      border: 1px solid #E0E0E0;
      border-radius: 8px;
      list-style: none;
      padding: 0;
      margin: 5px 0;
      z-index: 1000;
      li {
        padding: 12px;
        cursor: pointer;
        transition: background 0.2s;
        &:hover {
          background: rgba(225, 248, 250, 1);
          color: #60B9BF;
          transition: all .3s;
          border-radius: 8px;
        }
      }
    }
  }
}

.date-input {
  border: none;
  padding: 12px;
  width: 100%;
  color: #616161;
  background-color: rgba(250, 250, 250, 1);
  border-radius: 8px;
}

.swal2-confirm {
  background-color: #60B9BF !important; 
  color: #fff !important;
  border: 1px solid #60B9BF !important;
  box-shadow: 0 0 0 3px rgba(96, 185, 191, .5) !important;
}

.btn-check:checked+.btn, .btn.active, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: #fff !important;
  background-color: #60B9BF !important;
  border-color: #60B9BF !important;
}

.btn:first-child:active:focus-visible {
  box-shadow: none;
}


.page-section {
  padding: 16px 12px 40px;
  background-color: #FAFAFA;
}

.breadcrumb {
  .breadcrumb-item {
    a {
      color: var(--bs-breadcrumb-item-active-color);
      &:hover {
        transition: all .3s;
        opacity: 0.7;
      }
    }

    &.active {
      color: var(--color-primary);
    }

    &+.breadcrumb-item {
      &::before {
        content: ">";
        color: var(--color-primary);
      }
    }
  }

}

.page-item {
  .page-link {
    margin: 0 var(--spacing-small);
    color: var(--bs-breadcrumb-item-active-color);
    background-color: transparent;
    border-radius: 8px;

    &:hover {
      color: var(--color-primary);
      border-color: var(--color-primary);
      transition: all .3s;
    }

    span.material-icons {
      display: block;
    }
  }

  &.active {
    .page-link {
      background-color: var(--color-primary);
      border-color: var(--color-primary);
      color: var(--color-background);
    }
  }
}


@media (min-width: 992px){
  .page-section {
    padding-top: 48px;
    padding-bottom: 120px;
  }
  .page-container{
    margin-top: 0;
    min-height: 735px;
  }
}


@media (max-width: 576px){
  .page-container{
    margin-top: 12px;
    padding: 24px 8px;
    .card-title {
      text-align: center;
      color: #616161;
    }
  }
}