// 變數設定

$primary-color-5: #4DAAB0;
$primary-color-4: #60B9BF;
$primary-color-3: #74C9CF;
$primary-color-2: #8AD8DE;
$primary-color-1: #E1F8FA;

$secondary-color-5: #EC6800;
$secondary-color-4: #F08430;
$secondary-color-3: #F29349;
$secondary-color-2: #F5A96E;
$secondary-color-1: #FFC699;

$text-color-12: #000;
$text-color-11: #212121;
$text-color-10: #424242;
$text-color-9: #616161;
$text-color-8: #757575;
$text-color-7: #9E9E9E;
$text-color-6: #BDBDBD;
$text-color-5: #E0E0E0;
$text-color-4: #EEEEEE;
$text-color-3: #F5F5F5;
$text-color-2: #FAFAFA;
$text-color-1: #FFFFFF;

$text-font-display-header-1: 64px;
$text-font-display-header-2: 56px;

$text-font-header-1: 40px;
$text-font-header-2: 32px;
$text-font-header-3: 28px;
$text-font-header-4: 24px;
$text-font-header-5: 20px;
$text-font-header-6: 18px;
$text-font-header-7: 16px;
$text-font-header-8: 14px;

$line-height-title: 120%;
$line-height-body: 150%;
