.activity-detail-page{
  .showContainer{
    margin-top: 48px;
    width: 1296px;
  }
  
  .showContainer .row{
    margin: 0 !important;
  }

  .mainImage-container{
    border: none;
    padding: 0 !important;
    margin-right: 12px;
    width: 642px !important;
    height: 477px !important;
    border-top-left-radius: 40px !important;
    border-bottom-left-radius: 40px !important;
    overflow: hidden;
  }
  .image-container:nth-child(1) {
    margin-bottom: 12px;
  }
  .image-container:nth-child(2) {
    margin-bottom: 12px;
    border-top-right-radius: 40px !important;
    overflow: hidden;
  }
  .image-container:nth-child(4) {
    border-bottom-right-radius: 40px !important;
    overflow: hidden;
  }
  .image-container:nth-child(2n) {
    margin-left: 12px;
  
  }
  .mainImage-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .rightSide{
    width: 642px !important;
    padding: 0 !important;
    max-width: 100%;
  }
  
  .rightSide .image-container{
    height: 232.5px !important;
    width: 315px !important;
    padding: 0 !important;
    border: none;
  }
  .rightSide .image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .mainPic{
    margin-bottom: 16px;
  }
  
  /*詳細活動區塊*/
  .actTitle{
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 32px;
    line-height: 38.4px;
    display: flex; /* 將標題設定為 Flex 容器 */
    justify-content: space-between; /* 讓標題和 "加入收藏" 分散在兩端 */
    align-items: center; /* 垂直方向對齊 */
    margin-bottom: 8px;
  }
  .titleArea{
    width: 856px !important;
    border-radius: 32px !important;
  }
  .addDateTime{
    width: 416px !important;
    margin-left: 24px;
  }
  .addFavorites{
    border: none;
    background-color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-left: 10px; /* 與標題文字間隔一些距離 */
    color: #9E9E9E;
  }
  .favoriteHeart{
    font-size: 16px;
  }
  .actTitleBody{
    padding: 0 24px !important;
    padding-top: 24px !important;
  }
  .actTitleDiv{
    margin-bottom: 24px;
  }
  .rating{
    color: #F08430;
  }
  hr {
    margin: 0 !important;
    border-top: 2px solid #9E9E9E !important;
  }
  .actContent{
    margin: 24px 0;
  }
  .actContentTitle{
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    display: flex; /* 將標題設定為 Flex 容器 */
    justify-content: space-between; /* 讓標題和 "加入收藏" 分散在兩端 */
    align-items: center; /* 垂直方向對齊 */
    margin-bottom: 12px;
  }
 

  .actPic{
    margin-bottom: 10px;
    border-top: 24px;
    border-radius: 24px !important;
    width: 100%; /* 或者具體的寬度 */
    overflow: hidden !important;
  }
  .site{
    margin-bottom: 16px;
  }
  .siteContent{
    margin-bottom: 24px;
  }
  .activityContent{
    margin-top: 24px;  
  }
  .siteMap{
    border: none;
    width: 808px !important;
    height: 404px !important;
    overflow: hidden;
    border-radius: 40px !important;
  }
  .contentTextsmall{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #9E9E9E;
    margin-bottom: 5.5px;
  }
  .contentText{
    height: auto;
  }
  .contentDescribute{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #616161;
  
  }
  //評論區塊
  .ratingTitle{
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }
  .card-title h4 {
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
  }
  .ratingStart{
    color: #F08430;
    width: 176px;
    height: 32px;
    display: flex; /* 啟用 Flexbox */
    align-items: center; /* 垂直置中 */
    justify-content: space-between; /* 水平方向平均分配空間 (可選) */
  }
  .ratingStart i {
    /* 讓星星圖示填滿容器 */
    flex: 1; /* 讓每個星星佔據相同的空間 */
    height: 100%; /* 填滿高度 */
    font-size: 24px;
    display: flex; /* 讓星星在自己的空間中置中 */
    align-items: center;
    justify-content: center;
  }
  .outer-div {
  margin-right: 32px;
  }  
  .progress{
    margin-bottom: 15px;

  }
  .roundedCircle {
    width: 64px;
    height: 64px;
    border-radius: 50%; /* 讓容器呈現圓形 */
    overflow: hidden; /* 隱藏超出容器的部分 */
  }
  .roundedCircle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 讓圖片填滿容器 */
  }
  .ratingerImg{
    margin-right: 16px;
  }  
  .singleRating span {
    color: #F08430;
    height: 100%; /* 填滿高度 */
    font-size: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 4px;
  }
  .ratingName{
    font-weight: 700;
    font-size: 18px;
    font-weight: "Noto Sans TC";
  }
  .ratingContext{
    width: 496px !important;
    padding: 0px !important;
    color: #616161;
  }
  .ratingImage{
    width: 216px !important;
    padding: 0px !important;
    margin-bottom: 24px;
    display: flex ;
    margin-left: 10px;
  
  }
  .imageBox{
    width: 104px;
    height: 78px;
    overflow: hidden;
    border-radius: 16px;
    margin-left: 8px;
  
  }
  .imageBox img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  /*callToAction*/
  .priceArea{
    border-radius: 32px !important;
    height: 152px !important ;
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 24px;
    line-height: 38.4px;
  }
  .priceAreatitle{
    margin-top: 8px;
  }
  .callbutton{
    margin-top: 8px;
    width: 368px;
    height: 51px;
  }
  .callbutton button {
    all: unset;
    width: 100%;
    height: 100%;
    background-color: #4DAAB0; /* 設定背景顏色 */
    color: white; /* 設定文字顏色 */
    border: none; /* 移除邊框 */
    padding: 0; /* 移除內邊距 */
    text-align: center; /* 文字置中 */
    line-height: 51px; /* 垂直置中 */
    cursor: pointer; /* 設定滑鼠游標 */
    border-radius: 100px;
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 16px;
    line-height: 19.2px;
  }
  .ratingStartDiv{
    // width: 528px !important;
    // height: 121px !important;
    margin-bottom: 24px;
  }
  .mobileView{
    display: none !important;
  }
  /*預約日期*/
  .calendar-header p{
    width: 100%;
    font-family: "Noto Sans TC";
    font-weight: 700;
    font-size: 24px;
    line-height: 19.2px;
  }
  .calendar {
    max-width: 500px;
    margin: auto;
    padding: 10px;
  }
  .calendar-header {
    width: 100%;
    padding: 12px 12px 4px 12px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  .week-days, .days {
    display: grid;
    grid-template-columns: repeat(7, 14%);
    text-align: center;
  }
  .week-days {
    font-weight: bold;
  }
  .day {
    aspect-ratio: 1 / 1; /* 讓 day 保持正方形 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .day button {
    color: #000000;
    margin-top: 5px;
    width: 100%;
    height: 100%;
    font-size: 0.8em;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
  }
  .day button:hover {
    background-color: #4DAAB0;
  }
  .getActDateFooter{
    width: 100%;
    height: 20%;
    border-top: 1px solid #eeeeee;
    padding: 16px 12px ;
  }
  .getActDateFooter button{
    width: 100%;
    height: 51px;   
    border-radius: 100px;
    background-color: #4DAAB0;
    color: #fff;
    border: none;
  }
  .getActDateFooter button:hover{
    border: 1px solid #4DAAB0;
    background-color: #fff;
    color: #4DAAB0;

  }

  .modalContent{
    border-radius: 24px !important;
  } 
  .pagenation{
    display: flex;
    justify-content: center;
    margin-top: 32px;
  }
  .pagenation button{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    margin-left: 12px;

  }

  .pagenation .currentPage button:disabled {
    background-color: #4DAAB0; /* 灰色背景 */
    color: #ffffff; /* 灰色文字 */
    cursor: not-allowed; /* 改變滑鼠游標 */
  }



  .pagenation .material-icons{
    line-height: 1.5;
  }
  .pagenation span{
    font-size: 24px;
    color: #616161;
  }
}




/* 中小螢幕 (寬度小於 960px) */
@media (max-width: 1295px) {
  .activity-detail-page{
    .showContainer{
      width: auto;
  }
  //.col-lg-4{
      // display: none !important;
  //}
  .rightSide{
      display: none;
  }
  .classification{
      padding: 0 12px !important;
  }
  .mainPic{
      padding: 0 12px !important;
  }
  .mainImage-container{
      margin-right: 0;
      width: 100% !important;
      border-radius: 40px;
  }
  .mainImage-container img{
      width: 100% !important;
  }
  .mainContent{
      padding: 12px !important;
  }
  .mainContent .row{
      width: 100% !important;
  }
  .titleArea{
      width: 100% !important;
  }
  .siteMap{
      border: none !important;
      width: 100% !important;
      height: 40% !important;
      border-radius: 24px !important;
      overflow: hidden;
  }
  .actPic{
      border: none !important;
      width: 100% !important;
      height: 40% !important;
      border-radius: 24px !important;
      overflow: hidden;
  }
  .contentTextsmall{
      margin-top: 8px !important;
      margin-bottom: 5.5px;
  }
  .ratingImage{
      display: flex;
      align-items: center;
      width: 50% !important;
      margin-left: 20%;
  }
  .ratingContext{
      margin-bottom: 16px !important;
      margin-left: 20px !important;
      width: 80% !important;
      padding: 0px !important;
  }
  .imageBox{
      width: 100% !important;
      height: 100%;
  }
  .imageBox img{
      width: 100%;
      height: 100% !important ;
  }
  .ratingStartDiv{
      width: 100% !important;
  }
  .mobileView {
      position: fixed !important;
      display: block !important;
      bottom: 0 !important;
      right: 0 !important;
      left: 0 !important;
      z-index: 1000 !important; /* 確保元素在最上層 */
      background-color: white; /* 或其他背景顏色 */
      padding: 10px; /* 或其他內邊距 */
  }
  .callbutton{
      width: 30%;
  }
  .actTitleMobile{
      padding: 12px !important;
      background-color: #fff;
      font-size: 20px !important;
      line-height: 24px !important;
      font-weight: 700 !important;
      display: flex;
      height: 75px;
      justify-content: space-between;
      align-items: center;
  }
  .actTitleMobile h2{
      width: 28%;
      margin: 0 !important;
      white-space: nowrap;
  }
  .callbutton{
      margin: 0 !important;
  }
  .priceArea {
      display: none;
  }
  .ratingImage{
    margin-right: 0px !important;
  }
  }
 
}
@media (max-width: 410px) {
  .activity-detail-page .ratingContext{
      margin-left: 30px !important;
      width: 70% !important;
      padding: 0px !important;
  }
  .calendar {
    max-width: 100%;
  }
  .day {
      font-size: 0.8em;
  }
  .week-days, .days {
      grid-template-columns: repeat(7, 14%); /* Adjust to 3 columns for small screens */
  }

  .activity-detail-page .progress {
    width: 100% !important;
  }
  .activity-detail-page .ratingStart {
    width: 50% !important;
  }

  .progress-wrap {
    width: 100% !important;
    margin-left: 0 !important;
    span {
      width: 100%;
    }
  }
}  

