.ql-toolbar.ql-snow {
  border-top-left-radius: 6px !important;
  border-top-right-radius: 6px !important;
  border: 1px solid #dee2e6 !important;
  border-bottom: 0 !important;
}

.ql-container.ql-snow {
  border-bottom-left-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
  border: 1px solid #dee2e6 !important;
}

.blog-img {
  max-width: 100%;
  object-fit: cover;
}