.header {
    background-color: #f8f9fa; /* 輕灰色背景 */
    padding: 10px 0;
  
    .navbar-brand {
      font-weight: bold;
      font-size: 1.5rem;
    }
  
    .nav-item {
      margin-left: 20px;
    }
  
    .btn {
      margin-left: 10px;
      border-radius: 20px;
      padding: 6px 20px;
      background: #fff;
      color: #000;
      &:hover {
        transition: all .3s;
        background-color: #eeeeee;
      }
    }

    .header-logo {
      margin-right: 10px;
      margin-bottom: 0;
      font-size: 20px;
    }

    .header-logo-side {
      font-size: 20px;
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
    }
  
    .dropdown-menu {
      min-width: 120px;
    }

    .dropdown {
      .btn {
        background-color: transparent;
        border:none;
        color: #fff;
        padding: 0;
      }
    }
  
    /* 響應式設計 */
    @media (max-width: 767px) {
      .navbar-nav {
        text-align: center;
      }
  
      .btn {
        margin-top: 10px;
      }
    }
  }
  